:root {
    --bs-primary-color: #ffffff;
    --fc-btn-bg: #066ac9;
    --fc-btn-bg-co: #001e2b;
    --fc-inp-border-co: #dfe2e1;
    --fo-h1-h6-co: #21313c;
    --fc-p-co: #5f5f5f;
    --fc-par-color: #ffc107!important;
    --fc-prod-sale-color: #db3030!important;
    --fc-cursor-poi: pointer;
    --fc-margin-width: 0 100px;
    --fc-padding-width-btn: 7px 22px;
    --fc-border-color: #dfe2e1;
    --fc-border-width-none: none;
    --fc-border-width: 1px;
    --fc-border-style: solid;
    --fc-border-co-hevor: #066ac9;
    --fc-border-radius-width: 7px;
    --fc-box-shadow-hevor: 0px 0px 0px 5px #066ac9;
}

.row {
    --fc-breakpoint-labtop-L: 1440px;
    --fc-breakpoint-laptop: 1024px;
    --fc-breakpoint-md: ;
    --fc-breakpoint-lg: ;
    --fc-breakpoint-xl: ;
    --fc-breakpoint-xxl: ;
}

* {
    font-family: "Noto Kufi Arabic", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bs-primary-color);
    color: var(--fo-h1-h6-co);
    margin: 0;
    padding: 0;
}


body::-webkit-scrollbar {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: var(--fo-h1-h6-co);
}

p {
    margin: 0;
    padding: 0;
}

hr {
    margin: 35px 0;
    border: var(--fc-border-width-none);
    background-color: var(--fc-inp-border-co);
    width: 100%;
    height: 1px;
}

.header {
    margin: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.header .navbar {
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navbar a {
    text-decoration: none;
}

.header .navbar .logo {
    display: flex;
    align-items: center;
    text-align: center;
}

.header .navbar .logo .logo-sahat-alllm {
    margin: 0 5px 0 0;
    width: 22px;
    height: 22px;
    margin: 0 5px 5px 0;
    color: var(--fc-btn-bg);
}

.header .navbar .root-linge ul {
    list-style: none;
}

.header .navbar .root-linge ul li {
    font-size: 12px;
    font-weight: 500;
}

.header .navbar .root-linge ul li a {
    text-decoration: none;
    color: var(--fo-h1-h6-co);
}

/* Header index.html */
.header .navbar .search-griy label {
    cursor: text;
    padding: 5px 7px;
    border: var(--fc-border-width) var(--fc-inp-border-co) var(--fc-border-style);
    border-radius: var(--fc-border-radius-width);
    transition: border .15s ease-in-out,box-shadow .15s ease-in-out;
}

.header .navbar .search-griy label input[type="search"] {
    padding: 4px;
    border: var(--fc-border-width-st);
    outline: none;
    text-align: right;
    font-size: 14px;
}

.header .navbar .search-griy label:hover {
    box-shadow: var(--fc-box-shadow-hevor);
    border: var(--fc-border-co-hevor);
}

.header .navbar .root-linge ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .navbar .root-linge ul .bi-heart {
    font-size: 17px;
    color: var(--fc-p-co);
    cursor: var(--fc-cursor-poi);
    transition: color .3s ease-in-out;
}

.header .navbar .root-linge ul .bi-person {
    padding: 0 20px 0 20px;
}

.header .navbar .root-linge ul .bi-person,
.root-linge ul .bi-bag-check {
    cursor: var(--fc-cursor-poi);
    width: 20px;
    color: var(--fc-p-co);
    margin: 0 0 5px 0;
    transition: color .3s ease-in-out;
}
.header .navbar .root-linge ul .bi-heart:hover,
.header .navbar .root-linge ul .bi-person:hover,
.root-linge ul .bi-bag-check:hover {
    color: var(--fc-btn-bg);
}

.header .nav-block ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    text-align: right;
    list-style: none;
    padding: 0;
    margin: var(--fc-margin-width);
}

.header .nav-block ul li {
    padding: 5px 15px 15px 15px;
}

.header .nav-block ul li a {
    font-size: 14px;
    text-decoration: none;
    color: var(--fo-h1-h6-co);
    transition: color .3s ease-in-out;
}

.header .nav-block ul li a:hover {
    color: var(--fc-btn-bg);
}

.section-signup {
    margin: 75px 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    text-align: right;
}

.section-signup form .row {
    width: 325px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.section-signup form .row p {
    margin: 0 0 0 0;
    font-size: 14px;
    color:var(--fc-p-co);
}

.section-signup form .row input {
    margin: 6px 0 6px 0;
    width: 100%;
    padding: 8px 10px;
    text-align: right;
    border: var(--fc-inp-border-co) 1px solid;
    border-radius: 7px;
    color: var(--fc-p-co);
    outline: none;
    box-sizing: border-box;
    transition: border .15s ease-in-out,box-shadow .15s ease-in-out;
}

.flex-griy {
    display: flex;
    flex-direction: row-reverse;
}

.section-signup form .row input:hover {
    box-shadow: 0px 0px 0px 5px #0aad0a42;
    border: 1px #0aad0ac6  solid;
}

.fc-fr-la-input {
    margin: 0 0 0 10px  ;
}

.fc-bgt-type button {
    width: 100%;
    margin: 5px 0;
    padding: 0;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 8px 25px;
    line-height: 1.6;
    background-color: var(--fc-btn-bg);
    color: var(--bs-primary-color);
}

.section-signup form .row p small a {
    text-decoration: none;
    color: var(--fc-btn-bg);
}

.section-signup .fc-logo-griy img {
    width: 550px;
}

/* End_Page login&Sinup.
    Start index.html(header, Featured Categories, Popular Products, Daily Best Sells, Footer).
*/


/* Style Labtop */
@media (max-width: 1140px) {
    .section-signup .fc-logo-griy img {
        width: 500px;
    }
}

@media (max-width: 1024px) {
    .section-signup .fc-logo-griy img {
        width: 450px;
    }
}

@media (max-width: 768px) {
    .header .navbar {
        padding: 5px 40px;
    }

    .header .navbar .search-griy label {
        display: var(--fc-border-width-none);
    }
    .section-signup .fc-logo-griy img {
        width: 300px;
    }
}

@media (max-width: 620px) {
    .section-signup .fc-logo-griy img {
        display: var(--fc-border-width-none);
    }

    .section-signup {
        margin: 75px 20px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        text-align: right;
    }
}

@media (max-width: 425px) {
    .header .navbar {
        padding: 5px 15px;
    }

    .header .navbar .search-griy label {
        display: var(--fc-border-width-none);
    }

    .ads {
        margin: 25px 15px;
    }

    .ads .contanier .fr-cont-c1 {
        padding: 1.6rem;
    }

    .ads .contanier .fr-cont-c1 .show-now h1 {
        max-width: 250px;
        font-size: 22px;
    }

    .ads .contanier .fr-cont-c1 .fr-show p {
        font-size: 10px
    }
    
    .ads .contanier .fr-cont-c1 .fr-p p {
        max-width: 250px;
        font-size: 12px;
    }

    .ads .contanier .fr-cont-c2 .fr-h-arrow-r-l h2 {
        font-size: 18px;
    }

    .ads .contanier .fr-cont-c2 .fr-card-con .fr-card img {
        width: 128px;
        height: 128px;
    }

    .popular-products {
        margin: 25px 15px;
    }

    .popular-products .contanier {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .popular-products .contanier .fd-card img {
        width: 124px;
        height: 124px;
    }

    .popular-products .contanier .fd-card .fd-prod .fd-btn-price span {
        font-size: 10px;
    }

    .popular-products .contanier .fd-card .fd-prod .fd-btn-price button {
        padding: 2.5px 3.5px;
        font-size: 11px;
    }

    .car-product {
        width: 100%; 
    }

    .car-product .footer .co-footer .btn-co-12 button,
    .car-product .footer .co-footer .btn-co-10 button {
        margin: 0 0 7.0px 0;
        padding: 7.5px 0;
        width: 175px;
        border-radius: var(--fc-border-radius-width);
        border: var(--fc-border-width-none);
        cursor: var(--fc-cursor-poi);
        color: var(--bs-primary-color);
        font-weight: 600;
    }
}

@media (max-width: 375px) {
    .header .navbar {
        padding: 5px 12.5px;
    }

    .header .navbar .search-griy label {
        display: var(--fc-border-width-none);
    }

    .ads {
        margin: 20px 12.5px;
    }

    .ads .contanier .fr-cont-c1 {
        padding: 1.2rem;
    }

    .ads .contanier .fr-cont-c1 .show-now h1 {
        max-width: 250px;
        font-size: 20px;
    }

    .ads .contanier .fr-cont-c1 .fr-show p {
        font-size: 10px
    }
    
    .ads .contanier .fr-cont-c1 .fr-p p {
        max-width: 250px;
        font-size: 12px;
    }

    .ads .contanier .fr-cont-c2 .fr-h-arrow-r-l h2 {
        font-size: 16px;
    }

    .ads .contanier .fr-cont-c2 .fr-card-con .fr-card img {
        width: 128px;
        height: 128px;
    }

    .popular-products {
        margin: 20px 12.5px;
    }

    .popular-products .contanier {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .popular-products .contanier .fd-card {
        padding: 10px;
    }

    .popular-products .contanier .fd-card img {
        width: 124px;
        height: 124px;
    }

    .popular-products .contanier .fd-card .fd-prod .fd-btn-price span {
        font-size: 10px;
    }

    .popular-products .contanier .fd-card .fd-prod .fd-btn-price button {
        padding: 2.5px 3.5px;
        font-size: 11px;
    }

    .car-product .footer .co-footer {
        padding: 1.2px 10px;
    }

    .car-product .footer .co-footer .btn-co-12 button,
    .car-product .footer .co-footer .btn-co-10 button {
        margin: 0 0 7.0px 0;
        padding: 7.5px 0;
        width: 150px;
        border-radius: var(--fc-border-radius-width);
        border: var(--fc-border-width-none);
        cursor: var(--fc-cursor-poi);
        color: var(--bs-primary-color);
        font-weight: 600;
    }
}

@media (max-width: 320px) {
    .header .navbar {
        padding: 5px 12.5px;
    }

    .header .navbar .search-griy label {
        display: var(--fc-border-width-none);
    }

    .ads {
        margin: 20px 12.5px;
    }

    .ads .contanier .fr-cont-c1 {
        padding: 1.2rem;
    }

    .ads .contanier .fr-cont-c1 .show-now h1 {
        max-width: 250px;
        font-size: 20px;
    }

    .ads .contanier .fr-cont-c1 .fr-show p {
        font-size: 10px
    }
    
    .ads .contanier .fr-cont-c1 .fr-p p {
        max-width: 250px;
        font-size: 12px;
    }

    .ads .contanier .fr-cont-c2 .fr-card-con .fr-card img {
        width: 128px;
        height: 128px;
    }

    .popular-products {
        margin: 20px 12.5px;
    }

    .popular-products .contanier {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .popular-products .contanier .fd-card {
        padding: 10px;
    }

    .popular-products .contanier .fd-card img {
        width: 124px;
        height: 124px;
    }

    .popular-products .contanier .fd-card .fd-prod .fd-btn-price span {
        font-size: 10px;
    }

    .popular-products .contanier .fd-card .fd-prod .fd-btn-price button {
        padding: 2.5px 3.5px;
        font-size: 11px;
    }
}