:root {
    --bs-primary-color: #ffffff;
    --fc-btn-bg: #066ac9;
    --fc-btn-bg-co: #001e2b;
    --fc-inp-border-co: #dfe2e1;
    --fo-h1-h6-co: #21313c;
    --fc-p-co: #5f5f5f;
    --fc-par-color: #ffc107!important;
    --fc-prod-sale-color: #db3030!important;
    --fc-cursor-poi: pointer;
    --fc-margin-width: 0 100px;
    --fc-padding-width-btn: 7px 22px;
    --fc-border-color: #dfe2e1;
    --fc-border-width-none: none;
    --fc-border-width: 1px;
    --fc-border-style: solid;
    --fc-border-co-hevor: #066ac9;
    --fc-border-radius-width: 7px;
    --fc-box-shadow-hevor: 0px 0px 0px 5px #066bc954;
}

.row {
    --fc-breakpoint-labtop-L: 1440px;
    --fc-breakpoint-laptop: 1024px;
    --fc-breakpoint-md: ;
    --fc-breakpoint-lg: ;
    --fc-breakpoint-xl: ;
    --fc-breakpoint-xxl: ;
}

* {
    font-family: "Noto Kufi Arabic", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Kufi Arabic", sans-serif;
    background-color: var(--bs-primary-color);
    color: var(--fo-h1-h6-co);
    margin: 0;
    padding: 0;
}


body::-webkit-scrollbar {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: var(--fo-h1-h6-co);
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: var(--fc-border-width-none);
    color: var(--fc-p-co);
}

hr {
    margin: 35px 0;
    border: var(--fc-border-width-none);
    background-color: var(--fc-inp-border-co);
    width: 100%;
    height: 1px;
}

/* Style Header */
.header {
    margin: 0;
    padding: 0;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    padding: 7px 0;
}
.header .navbar a {
    text-decoration: none;
}

.header .navbar .logo {
    display: flex;
    align-items: center;
    text-align: center;
}

.br-logo {
    display: var(--fc-border-width-none);
}

.header .navbar .logo .logo-sahat-alllm,
.br-logo .logo-sahat-alllm {
    margin: 0 5px 0 0;
    width: 22px;
    height: 22px;
    margin: 0 5px 5px 0;
    color: var(--fc-btn-bg);
}

.logo .logo-sahat-alllm,
.br-logo .logo-sahat-alllm {
    margin: 0 5px 0 0;
    width: 22px;
    height: 22px;
    margin: 0 5px 5px 0;
    color: var(--fc-btn-bg);
}

.header .navbar ul {
    display: flex;
    list-style: var(--fc-border-width-none);
    padding: 0;
}

.header .navbar ul li {
    padding: 0 10px;
}

.header .navbar ul li a {
    font-size: 17px;
    font-weight: 450;
    transition: color .15s ease-in-out;
}

.header .navbar ul li a:hover {
    color: var(--fc-btn-bg);
}

.header .navbar .root-linge {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .navbar .root-linge .search-bar input[type="search"] {
    font-family: "Noto Kufi Arabic", sans-serif;
    font-family: 'Cairo', sans-serif;
    margin: 6px 0 6px 0;
    width: 200px;
    padding: 8px 10px;
    text-align: right;
    border: var(--fc-inp-border-co) 1px solid;
    border-radius: 7px;
    color: var(--fc-p-co);
    outline: none;
    box-sizing: border-box;
    transition: border .15s ease-in-out,box-shadow .15s ease-in-out;
}

.header .navbar .root-linge .search-bar input[type="search"]:focus {
    border: var(--fc-border-co-hevor) 1px solid;
    box-shadow: var(--fc-box-shadow-hevor);
}

.header .navbar .image-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 0 0 12.5px; 
}

.header .navbar .image-user img:hover {
    cursor: var(--fc-cursor-poi);
}

.menu-icon {
    display: var(--fc-border-width-none);
}


.header.show {
    left: 0;
}

.header-op {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
        cursor: var(--fc-cursor-poi);
    }

    .header {
        position: fixed;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100vh;
        background-color: #ffffff;
        color: white;
        transition: left 0.5s ease;
        padding: 20px 35px 15px 15px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }   
    .header .navbar {
        width: 100%;
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    .header .navbar ul {
        display: block;
    }
    
    .header .navbar ul li {
        width: 100%;
        margin: 10px 0;
        padding: 15px 5px 10px 15px;
        border-radius: var(--fc-border-radius-width);
        text-align: left;
        border: var(--fc-border-color) var(--fc-border-width) var(--fc-border-style);
        cursor: var(--fc-cursor-poi);
        transition: background .3s ease-in-out;
    }

    .header .navbar ul li:hover {
        background-color: var(--fc-btn-bg);
    }

    .header .navbar ul li a {
        width: 100px;
        transition: color .3s ease-in-out;
    }
    .header .navbar ul li a:hover {
        color: var(--fc-border-color);
    }

    .header .navbar .root-linge {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .header .navbar .image-user img {
        margin: 0 -17px 0 10px;
    }

    .br-logo {
        display: flex;
        align-items: center;

    }

    .root-linge .search-bar {
        width: 100%;
    }

    .header .navbar .root-linge .search-bar input[type="search"] {
        width: 100%;
    }
}
