:root {
    --bt-color-by : #24292d;
    --bt-back-co-inp: #d3dbec;
    --bt-border-none: none;
    --bt-border-raidus-8: 8px;
}

*{
  font-family: "Raleway", serif;
  font-family: 'Cairo', sans-serif;
}

body {

}

h1 , h2 , h3 , h4 , h5 , h6 {
    margin: 0;
    color: var(--bt-color-by);
}

p {
    margin: 0;
    color: var(--bt-color-by);
}